<app-header></app-header>

<ion-content class="background">
  <ion-card>
    <img alt="" src="../../assets/img2.jpg" />
    <ion-card-header>
      <ion-card-title>Contactanos</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item counter="true">
        <ion-label position="floating"
          ><ion-icon name="call-outline"></ion-icon> +52 98941234412</ion-label
        >
      </ion-item>
      <ion-item counter="true">
        <ion-label position="floating"
          ><ion-icon name="chatbubble-outline"></ion-icon>
          www.sraa.com.mx</ion-label
        >
      </ion-item>
      <ion-item counter="true">
        <ion-label position="floating"
          ><ion-icon name="logo-github"></ion-icon>
          github.com/EdmirGalvan</ion-label
        >
      </ion-item>
      <ion-item counter="true">
        <ion-label position="floating"
          ><ion-icon name="logo-github"></ion-icon>
          github.com/CesarRamos</ion-label
        >
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
