<app-header></app-header>

<ion-content class="background">
  <ion-item color="turquesa">
    <h1>Editar Recolector</h1>
  </ion-item>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Nuevo Nombre</ion-card-title>
    </ion-card-header>
    <ion-item counter="true">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input maxlength="20"></ion-input>
    </ion-item>
    <ion-button expand="block" color="azulboton">Guardar</ion-button>
  </ion-card>
  <ion-button expand="block" color="rojomalo">Eliminar Recolector</ion-button>
</ion-content>
