<ion-header>
  <ion-toolbar color="turquesa">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding background">
  <ion-grid fixed>
    <ion-row class="ion-justify-content center">
      <ion-col class="ion-align-self-start"></ion-col>
      <ion-col size="12" class="ion-align-self-center">
        <ion-card class="card">
          <ion-card-header>
            <ion-card-title>Inicia Sesión</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <form (ngSubmit)="login(form)" #form="ngForm">
              <div class="input-field col s6">
                <ion-label
                  ><ion-icon name="mail-outline"></ion-icon> Email</ion-label
                >
                <span
                  *ngIf="form.submitted && form.controls['email'].errors"
                  class="red-text text-accent-4"
                >
                  **Correo obligatorio</span
                >
                <ion-input
                  type="email"
                  placeholder="Ingresa tu Email"
                  name="email"
                  [(ngModel)]="usuario.email"
                  required
                  email
                >
                </ion-input>
              </div>
              <div class="input-field col s6">
                <ion-label><ion-icon name="key"></ion-icon> Password</ion-label>
                <span
                  *ngIf="form.submitted && form.controls['password'].errors"
                  class="red-text text-accent-4"
                >
                  **Al menos 6 caracteres</span
                >
                <ion-input
                  type="password"
                  placeholder="Ingresa tu Password"
                  name="password"
                  [(ngModel)]="usuario.password"
                  required
                  minlength="6"
                >
                </ion-input>
              </div>
              <ion-row>
                <ion-col size="6">
                  <ion-button type="submit" expand="block" color="azulboton">
                    Entrar
                  </ion-button>
                </ion-col>
                <ion-col size="6">
                  <ion-button
                    routerLink="/register"
                    expand="block"
                    color="azulboton"
                  >
                    Registrate
                  </ion-button>
                </ion-col>
              </ion-row>
            </form>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col class="ion-align-self-end"></ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!--<ion-footer>
  <ion-toolbar color="turquesa">
    <ion-title>
      Inicio de sesion
    </ion-title>
  </ion-toolbar>
</ion-footer>
-->
