<app-header> </app-header>

<ion-content class="background">
  <ion-item color="turquesa">
    <h1>Agregar Recolector</h1>
  </ion-item>

  <ion-button expand="block" color="azulboton"> Buscar Recolector </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Recolector <ion-icon name="wifi-outline"></ion-icon>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h1>Name Untitle</h1>
      </ion-text>
      <h5>Ultima conexion hace 5 horas</h5>
      <ion-button color="azulboton" fill="solid">Conectar</ion-button>
      <ion-button color="rojomalo" fill="solid">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title
        >Recolector <ion-icon name="bluetooth-outline"></ion-icon
      ></ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h1>Name Untitle</h1>
      </ion-text>
      <h5>Ultima conexion hace 12 horas</h5>
      <ion-button color="azulboton" fill="solid">Conectar</ion-button>
      <ion-button color="rojomalo" fill="solid">Eliminar</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
