/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.background {
  --background: url("assets/img/Fondo-login.jpg") no-repeat;
}

.transparente {
  --background: transparent;
}

.logo-app {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.logo-app h1 {
  font-style: italic;
  font-weight: 800;
  color: #070a52;
  font-family: "Alkatra", cursive;
  font-size: 30px;
}

.title {
  font-style: italic;
  font-weight: 800;
  color: #070a52;
  font-family: "Alkatra", cursive;
  font-size: 30px;
}
