<app-header></app-header>

<ion-content class="background">
  <ion-card>
    <img alt="" src="../../assets/img.jpg" />
    <ion-card-header>
      <ion-card-title>Comentarios</ion-card-title>
    </ion-card-header>
    <ion-item counter="true">
      <h1>Envianos tu comentario sobre nuestra aplicacion</h1>
      <ion-label position="floating"></ion-label>
      <ion-input maxlength="20"></ion-input>
    </ion-item>
    <ion-button expand="block" color="azulboton">Enviar</ion-button>
  </ion-card>
</ion-content>
