<ion-header>
  <ion-toolbar color="turquesa">
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1 align="center">Comienza A Ahorrar</h1>
  <ion-card>
    <ion-slides pager="true">
      <ion-slide>
        <img src="../../assets/img3.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img4.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img5.png" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-button color="azulboton" expand="block" routerLink="/agregar"
    >Agregar Recolector</ion-button
  >

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recolector 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <h2>Contenedor numero 1:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-item>
        <h2>Contenedor numero 2:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-button
        color="success"
        routerLink="/editar"
        fill="solid"
        color="azulboton"
        >Editar</ion-button
      >
      <ion-button
        color="secondary "
        routerLink="/datos"
        fill="solid"
        color="citrofrut"
        >Datos</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recolector 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <h2>Contenedor numero 1:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-item>
        <h2>Contenedor numero 2:</h2>
        <div class="progress-bar" color="citrofrut">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-button
        color="success"
        routerLink="/editar"
        fill="solid"
        color="azulboton"
        >Editar</ion-button
      >
      <ion-button
        color="secondary"
        routerLink="/datos"
        fill="solid"
        color="citrofrut"
        >Datos</ion-button
      >
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recolector 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <h2>Contenedor numero 1:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-item>
        <h2>Contenedor numero 2:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress + '%'"></div>
        </div>
      </ion-item>
      <ion-button
        color="success"
        routerLink="/editar"
        fill="solid"
        color="azulboton"
        >Editar</ion-button
      >
      <ion-button
        color="secondary"
        routerLink="/datos"
        fill="solid"
        color="citrofrut"
        >Datos</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
