<ion-header>
  <ion-toolbar color="turquesa">
    <ion-buttons slot="start">
      <ion-button (click)="llamarMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <h1 class="title" align="center">Comencemos a ahorrar</h1>
  <ion-card>
    <ion-slides pager="true">
      <ion-slide>
        <img src="../../assets/img3.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img4.jpg" />
      </ion-slide>
      <ion-slide>
        <img src="../../assets/img5.jpg" />
      </ion-slide>
    </ion-slides>
  </ion-card>

  <ion-button
    style="max-width: 200px; margin: 0 auto"
    color="azulboton"
    expand="block"
    routerLink="/agregar"
    >Agregar recolector</ion-button
  >

  <ion-card>
    <ion-card-header>
      <ion-card-title>Recolector 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <h2>Contenedor 1:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress1 + '%'"></div>
        </div>
      </ion-item>
      <ion-item>
        <h2>Contenedor 2:</h2>
        <div class="progress-bar">
          <div class="progress-bar-fill" [style.width]="progress2 + '%'"></div>
        </div>
      </ion-item>
      <ion-button
        color="success"
        routerLink="/editar"
        fill="solid"
        color="azulboton"
        >Editar</ion-button
      >
      <ion-button
        color="secondary "
        routerLink="/datos"
        fill="solid"
        color="citrofrut"
        >Datos</ion-button
      >
    </ion-card-content>
  </ion-card>
</ion-content>
