<app-header></app-header>

<ion-content class="background">
  <ion-item color="turquesa">
    <h1>Datos del recolector </h1>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contenedor 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-text color="dark">
      <h1>Porcentaje utilizado 100%</h1>
     </ion-text>
     <h5>Ultima hora utilizado 8:20pm</h5>
     <ion-button color="azulboton" fill="solid">Vaciar Contenedor</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contenedor 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
     <ion-text color="dark">
      <h1>Porcentaje utilizado 80%</h1>
     </ion-text>
     <h5>Ultima hora utilizado 3:20pm</h5>
     <ion-button color="azulboton" fill="solid">Vaciar Contenedor</ion-button>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <div class="chart-container">
      <canvas id="barCanvas"></canvas>
    </div>
  </ion-card>


</ion-content>
