<app-header></app-header>

<ion-content>
<ion-item>
  <h1>Datos del recolector 1</h1>
</ion-item>
<ion-card>
  <ion-card-header>
    <ion-card-title>Contenedor 1</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <ion-text color="dark">
    <h1>Porcentaje utilizado 100%</h1>
   </ion-text>
   <h5>Ultima hora utilizado 8:20pm</h5>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contenedor 2</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <ion-text color="dark">
    <h1>Porcentaje utilizado 30%</h1>
   </ion-text>
   <h5>Ultima hora utilizado 12:20am</h5>
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-card-header>
    <ion-card-title>Contenedor 3</ion-card-title>
  </ion-card-header>
  <ion-card-content>
   <ion-text color="dark">
    <h1>Porcentaje utilizado 0%</h1>
   </ion-text>
   <h5>Ultima hora utilizado 3:20pm</h5>
  </ion-card-content>
</ion-card>
</ion-content>
