<app-header></app-header>

<ion-content class="background">
  <ion-item color="turquesa">
    <h1>Datos del recolector</h1>
  </ion-item>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contenedor 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h1>Porcentaje utilizado {{container1}}%</h1>
      </ion-text>
      <h5>Ultima actualización {{lastDateUpdated}}</h5>
      <ion-label>{{textValve1}}</ion-label>
      <ion-toggle
        slot="end"
        [(ngModel)]="valveState"
        (ionChange)="onClickSwitch(valveState)"
      ></ion-toggle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Registros Contenedor 1</ion-card-header>
    <ion-card-content>
      <canvas #pieCanvas></canvas>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Contenedor 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-text color="dark">
        <h1>Porcentaje utilizado {{container2}}%</h1>
      </ion-text>
      <h5>Ultima actualización {{lastDateUpdated}}</h5>
      <ion-label>Cerrado</ion-label>
      <ion-toggle slot="end"></ion-toggle>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>Registros Contenedor 1</ion-card-header>
    <ion-card-content>
      <canvas #pieCanvas2></canvas>
    </ion-card-content>
  </ion-card>
</ion-content>
